:root{
    --source-sans:'Source Sans 3', sans-serif;
    --color-blue:#04146c;
    --color-white: #ffffff;
    --background-color:#edf7ff;

    --fs-18:24px;
    --fs-20:26.66px;
    --fs-29:38.66px;
    --fs-66:88px;

    --fw-regular:300;
    --fw-bold:700;
    --fw-black:900;     

    --w-50:50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--source-sans);
    color: var(--color-blue);
    text-align: center;         
}

.w-50-centered{
    width: 50%;
    margin: 0 auto;        
}


h2{
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: var(--fw-regular);
    font-size:var(--fs-29);    
}

h1{        
    font-weight: var(--fw-black);
    font-size:var(--fs-66);
    margin: 40px 0;
}

h3{    
    font-weight: var(--fw-regular);
    font-size:var(--fs-20);
    margin-bottom: 15px;
}

h3 strong{
    font-weight: var(--fw-bold);
}

img{
    width: 600px;  
    padding-bottom: 10px;  
}

p{
    font-weight: var(--fw-regular);
    font-size: var(--fs-18);
    background-color: var(--background-color);
    margin-bottom: 30px;          
}
